<!-- Footer -->
<footer>
  <div class="container">
    <div class="footer__inner">
      <div class="footer__item-top">
        <h2 class="footer__link">Got a project?</h2>
        <a class="footer__text" href="get_in_touch.html">Let’s Talk <span><img class="footer__text-arrow" src="./img/arrow_footer.svg"
              alt=""></span>
          <span class="footer__text-underline"></span>
        </a>
      </div>
      <div class="footer__item-bottom">
        <a class="footer__email">hello@resolutio.co
          <span class="footer__text-underline"></span>
        </a>
        <div class="footer__social">
          <div class="footer__social-body">
            <a class="footer__social-link" href="#" target="_blank">
              <svg class="footer__social-icon">
                <use href="#behance"></use>
              </svg>
            </a>
            <a class="footer__social-link" href="#" target="_blank">
              <svg class="footer__social-icon">
                <use href="#dribble"></use>
              </svg>
            </a>
            <a class="footer__social-link" href="#" target="_blank">
              <svg class="footer__social-icon">
                <use href="#facebook"></use>
              </svg>
            </a>
            <a class="footer__social-link" href="#" target="_blank">
              <svg class="footer__social-icon">
                <use href="#instagram"></use>
              </svg>
            </a>
            <a class="footer__social-link" href="#" target="_blank">
              <svg class="footer__social-icon">
                <use href="#linkedin"></use>
              </svg>
            </a>
            <a class="footer__social-link" href="#" target="_blank">
              <svg class="footer__social-icon">
                <use href="#twitter"></use>
              </svg>
            </a>
            <a class="footer__social-link" href="#" target="_blank">
              <svg class="footer__social-icon">
                <use href="#whatsapp"></use>
              </svg>
            </a>
            <a class="footer__social-link" href="#" target="_blank">
              <svg class="footer__social-icon">
                <use href="#telegram"></use>
              </svg>
            </a>
          </div>
          <h5 class="copyright">All rights reserved, 2023</h5>
        </div>
      </div>
    </div>
  </div>
</footer>