<!-- Header -->
<header id="header" class="header">
  <div class="container">
    <div class="header__inner">
      <a href="index.html" class="header__logo" data-scroll="#intro">
        <svg class="logo">
          <use href="#logo"></use>
        </svg>
      </a>
      <nav class="header__menu" id="nav">
        <ul class="header__menu-list">
          <li>
            <a href="#" class="header__menu-link" data-scroll="#case">cases</a>
          </li>
          <li>
            <a href="#" class="header__menu-link" data-scroll="#about">about</a>
          </li>
          <li>
            <a href="#" class="header__menu-link" data-scroll="#our_team">our team</a>
          </li>
          <li>
            <a href="#" class="header__menu-link" data-scroll="#services">services</a>
          </li>
        </ul>
      </nav>
      <a href="get_in_touch.html" class="btn btn__header">
        <span class="btn__text">get in touch</span>
        <span><img class="btn__arrow" src="./img/hero_image_arrow.svg" alt=""></span>
      </a>
      <div class="header__burger" id="navToggle">
        <span></span>
      </div>
    </div>
  </div>
</header>