<!-- Modal -->
<div class="modal" id="modal-1">
  <div class="modal__content modal__content-contact">
    <button class="modal__close" type="button">
      <svg class="close">
        <use href="#close"></use>
      </svg>
    </button>
    <div class="modal__acquaintance underline">
      <img class="modal__acquaintance-img" src="./img/modal.png" alt="">

      <div class="modal__acquaintance-item">
        <div class="modal__acquaintance-name">
          <h2>Pavel Belousov</h2>
          <h3>Project manager</h3>
        </div>
        <div class="modal__acquaintance-link">
          <h2>Last cases</h2>
          <ul>
            <li><a href="#!">PythonBook
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Module.
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Benetton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Bat Norton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Bat Norton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal__representation">
      <div class="modal__representation-item">
        <div class="modal__representation-link">
          <h2>Work experience</h2>
          <p class="fs30">4 years</p>
        </div>
      </div>
      <div class="modal__representation-desc">
        <div class="modal__representation-link">
          <h2>About</h2>
          <p>Worked in graphic design and created brand identity, then moved to a new level - web
            development. Thanks to this experience, assembled a professional team of like-minded people.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modal-2">
  <div class="modal__content modal__content-contact">
    <button class="modal__close" type="button">
      <svg class="close">
        <use href="#close"></use>
      </svg>
    </button>
    <div class="modal__acquaintance underline">
      <img class="modal__acquaintance-img" src="./img/modal.png" alt="">

      <div class="modal__acquaintance-item">
        <div class="modal__acquaintance-name">
          <h2>Islam Ospanov</h2>
          <h3>UX/UI</h3>
        </div>
        <div class="modal__acquaintance-link">
          <h2>Last cases</h2>
          <ul>
            <li><a href="#!">PythonBook
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Module.
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Benetton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Bat Norton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Bat Norton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal__representation">
      <div class="modal__representation-item">
        <div class="modal__representation-link">
          <h2>Work experience</h2>
          <p class="fs30">4 years</p>
        </div>
      </div>
      <div class="modal__representation-desc">
        <div class="modal__representation-link">
          <h2>About</h2>
          <p>Worked in graphic design and created brand identity, then moved to a new level - web
            development. Thanks to this experience, assembled a professional team of like-minded people.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modal-3">
  <div class="modal__content modal__content-contact">
    <button class="modal__close" type="button">
      <svg class="close">
        <use href="#close"></use>
      </svg>
    </button>
    <div class="modal__acquaintance underline">
      <img class="modal__acquaintance-img" src="./img/modal.png" alt="">

      <div class="modal__acquaintance-item">
        <div class="modal__acquaintance-name">
          <h2>Zakhar Romashov</h2>
          <h3>Web Designer</h3>
        </div>
        <div class="modal__acquaintance-link">
          <h2>Last cases</h2>
          <ul>
            <li><a href="#!">PythonBook
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Module.
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Benetton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Bat Norton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Bat Norton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal__representation">
      <div class="modal__representation-item">
        <div class="modal__representation-link">
          <h2>Work experience</h2>
          <p class="fs30">4 years</p>
        </div>
      </div>
      <div class="modal__representation-desc">
        <div class="modal__representation-link">
          <h2>About</h2>
          <p>Worked in graphic design and created brand identity, then moved to a new level - web
            development. Thanks to this experience, assembled a professional team of like-minded people.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modal-4">
  <div class="modal__content modal__content-contact">
    <button class="modal__close" type="button">
      <svg class="close">
        <use href="#close"></use>
      </svg>
    </button>
    <div class="modal__acquaintance underline">
      <img class="modal__acquaintance-img" src="./img/modal.png" alt="">

      <div class="modal__acquaintance-item">
        <div class="modal__acquaintance-name">
          <h2>Dmitry Guguyan</h2>
          <h3>Front-end</h3>
        </div>
        <div class="modal__acquaintance-link">
          <h2>Last cases</h2>
          <ul>
            <li><a href="#!">PythonBook
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Module.
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Benetton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Bat Norton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Bat Norton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal__representation">
      <div class="modal__representation-item">
        <div class="modal__representation-link">
          <h2>Work experience</h2>
          <p class="fs30">4 years</p>
        </div>
      </div>
      <div class="modal__representation-desc">
        <div class="modal__representation-link">
          <h2>About</h2>
          <p>Worked in graphic design and created brand identity, then moved to a new level - web
            development. Thanks to this experience, assembled a professional team of like-minded people.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modal-5">
  <div class="modal__content modal__content-contact">
    <button class="modal__close" type="button">
      <svg class="close">
        <use href="#close"></use>
      </svg>
    </button>
    <div class="modal__acquaintance underline">
      <img class="modal__acquaintance-img" src="./img/modal.png" alt="">

      <div class="modal__acquaintance-item">
        <div class="modal__acquaintance-name">
          <h2>Artem Butov</h2>
          <h3>3D</h3>
        </div>
        <div class="modal__acquaintance-link">
          <h2>Last cases</h2>
          <ul>
            <li><a href="#!">PythonBook
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Module.
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Benetton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Bat Norton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Bat Norton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal__representation">
      <div class="modal__representation-item">
        <div class="modal__representation-link">
          <h2>Work experience</h2>
          <p class="fs30">4 years</p>
        </div>
      </div>
      <div class="modal__representation-desc">
        <div class="modal__representation-link">
          <h2>About</h2>
          <p>Worked in graphic design and created brand identity, then moved to a new level - web
            development. Thanks to this experience, assembled a professional team of like-minded people.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modal-6">
  <div class="modal__content modal__content-contact">
    <button class="modal__close" type="button">
      <svg class="close">
        <use href="#close"></use>
      </svg>
    </button>
    <div class="modal__acquaintance underline">
      <img class="modal__acquaintance-img" src="./img/modal.png" alt="">

      <div class="modal__acquaintance-item">
        <div class="modal__acquaintance-name">
          <h2>Vicki Petrovskaya</h2>
          <h3>Illustrations</h3>
        </div>
        <div class="modal__acquaintance-link">
          <h2>Last cases</h2>
          <ul>
            <li><a href="#!">PythonBook
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Module.
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Benetton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Bat Norton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Bat Norton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal__representation">
      <div class="modal__representation-item">
        <div class="modal__representation-link">
          <h2>Work experience</h2>
          <p class="fs30">4 years</p>
        </div>
      </div>
      <div class="modal__representation-desc">
        <div class="modal__representation-link">
          <h2>About</h2>
          <p>Worked in graphic design and created brand identity, then moved to a new level - web
            development. Thanks to this experience, assembled a professional team of like-minded people.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modal-7">
  <div class="modal__content modal__content-contact">
    <button class="modal__close" type="button">
      <svg class="close">
        <use href="#close"></use>
      </svg>
    </button>
    <div class="modal__acquaintance underline">
      <img class="modal__acquaintance-img" src="./img/modal.png" alt="">

      <div class="modal__acquaintance-item">
        <div class="modal__acquaintance-name">
          <h2>Michael Bulgakov</h2>
          <h3>SEO</h3>
        </div>
        <div class="modal__acquaintance-link">
          <h2>Last cases</h2>
          <ul>
            <li><a href="#!">PythonBook
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Module.
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Benetton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Bat Norton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Bat Norton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal__representation">
      <div class="modal__representation-item">
        <div class="modal__representation-link">
          <h2>Work experience</h2>
          <p class="fs30">4 years</p>
        </div>
      </div>
      <div class="modal__representation-desc">
        <div class="modal__representation-link">
          <h2>About</h2>
          <p>Worked in graphic design and created brand identity, then moved to a new level - web
            development. Thanks to this experience, assembled a professional team of like-minded people.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modal-8">
  <div class="modal__content modal__content-contact">
    <button class="modal__close" type="button">
      <svg class="close">
        <use href="#close"></use>
      </svg>
    </button>
    <div class="modal__acquaintance underline">
      <img class="modal__acquaintance-img" src="./img/modal.png" alt="">

      <div class="modal__acquaintance-item">
        <div class="modal__acquaintance-name">
          <h2>Michael Zelentsev</h2>
          <h3>Brand Identity Designer</h3>
        </div>
        <div class="modal__acquaintance-link">
          <h2>Last cases</h2>
          <ul>
            <li><a href="#!">PythonBook
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Module.
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Benetton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Bat Norton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Bat Norton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal__representation">
      <div class="modal__representation-item">
        <div class="modal__representation-link">
          <h2>Work experience</h2>
          <p class="fs30">4 years</p>
        </div>
      </div>
      <div class="modal__representation-desc">
        <div class="modal__representation-link">
          <h2>About</h2>
          <p>Worked in graphic design and created brand identity, then moved to a new level - web
            development. Thanks to this experience, assembled a professional team of like-minded people.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modal-9">
  <div class="modal__content modal__content-contact">
    <button class="modal__close" type="button">
      <svg class="close">
        <use href="#close"></use>
      </svg>
    </button>
    <div class="modal__acquaintance underline">
      <img class="modal__acquaintance-img" src="./img/modal.png" alt="">

      <div class="modal__acquaintance-item">
        <div class="modal__acquaintance-name">
          <h2>Daniil Ryabenko</h2>
          <h3>Graphic Designer</h3>
        </div>
        <div class="modal__acquaintance-link">
          <h2>Last cases</h2>
          <ul>
            <li><a href="#!">PythonBook
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Module.
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Benetton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Bat Norton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Bat Norton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal__representation">
      <div class="modal__representation-item">
        <div class="modal__representation-link">
          <h2>Work experience</h2>
          <p class="fs30">4 years</p>
        </div>
      </div>
      <div class="modal__representation-desc">
        <div class="modal__representation-link">
          <h2>About</h2>
          <p>Worked in graphic design and created brand identity, then moved to a new level - web
            development. Thanks to this experience, assembled a professional team of like-minded people.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modal-9">
  <div class="modal__content modal__content-contact">
    <button class="modal__close" type="button">
      <svg class="close">
        <use href="#close"></use>
      </svg>
    </button>
    <div class="modal__acquaintance underline">
      <img class="modal__acquaintance-img" src="./img/modal.png" alt="">

      <div class="modal__acquaintance-item">
        <div class="modal__acquaintance-name">
          <h2>Nastya Kargapoltseva</h2>
          <h3>Copywriting</h3>
        </div>
        <div class="modal__acquaintance-link">
          <h2>Last cases</h2>
          <ul>
            <li><a href="#!">PythonBook
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Module.
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Benetton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Bat Norton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
            <li><a href="#!">Bat Norton
                <span>
                  <svg class="modal__arrow">
                    <use href="#arrow__see-more"></use>
                  </svg>
                </span>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal__representation">
      <div class="modal__representation-item">
        <div class="modal__representation-link">
          <h2>Work experience</h2>
          <p class="fs30">4 years</p>
        </div>
      </div>
      <div class="modal__representation-desc">
        <div class="modal__representation-link">
          <h2>About</h2>
          <p>Worked in graphic design and created brand identity, then moved to a new level - web
            development. Thanks to this experience, assembled a professional team of like-minded people.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>